src/node-red flow bckup/flows.json
[{"id":"177edab.47a8925","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2a7f14ab.d4dd9c","type":"influxdb out","z":"177edab.47a8925","influxdb":"fc486cc2.fff3a","name":"Insert into Influx DB","measurement":"temperature","precision":"","retentionPolicy":"","x":950,"y":240,"wires":[]},{"id":"9112be7e.c97ac","type":"mqtt in","z":"177edab.47a8925","name":"","topic":"home/acurite","qos":"2","datatype":"auto","broker":"459804d.22579fc","x":70,"y":240,"wires":[["3cda243c.19211c"]]},{"id":"1872feb9.a67371","type":"function","z":"177edab.47a8925","name":"read payload Basement Sensor","func":"return {\n    payload: {\n        id: msg.payload.id,\n        temperature: msg.payload.temperature_C,\n        humidity: msg.payload.humidity,\n        room: 'basement'\n    }\n};","outputs":1,"noerr":0,"x":710,"y":280,"wires":[["6c593cc0.ac9284"]]},{"id":"3cda243c.19211c","type":"switch","z":"177edab.47a8925","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"id\" : 3026","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":280,"wires":[["62fb11d0.a7046"]]},{"id":"62fb11d0.a7046","type":"json","z":"177edab.47a8925","name":"","property":"payload","action":"","pretty":false,"x":390,"y":280,"wires":[["211a95fc.232f9a"]]},{"id":"2669e616.34c41a","type":"mqtt in","z":"177edab.47a8925","name":"","topic":"home/acurite","qos":"2","datatype":"auto","broker":"459804d.22579fc","x":70,"y":380,"wires":[["b2752c79.35f5a"]]},{"id":"b2752c79.35f5a","type":"switch","z":"177edab.47a8925","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"id\" : 6126","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":360,"wires":[["cf6f9299.5e0c1"]]},{"id":"cf6f9299.5e0c1","type":"json","z":"177edab.47a8925","name":"","property":"payload","action":"","pretty":false,"x":390,"y":360,"wires":[["8b488d79.c2668"]]},{"id":"cdb3ed61.85268","type":"function","z":"177edab.47a8925","name":"read payload Bedroom Sensor","func":"return {\n    payload: {\n        id: msg.payload.id,\n        temperature: msg.payload.temperature_C,\n        humidity: msg.payload.humidity\n    }\n};","outputs":1,"noerr":0,"x":710,"y":360,"wires":[["625e3946.1d4ac8"]]},{"id":"333bc573.52ad0a","type":"influxdb out","z":"177edab.47a8925","influxdb":"b5d2e00a.09a22","name":"Insert into Influx DB","measurement":"temperature","precision":"","retentionPolicy":"","x":950,"y":400,"wires":[]},{"id":"211a95fc.232f9a","type":"rbe","z":"177edab.47a8925","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":510,"y":280,"wires":[["1872feb9.a67371"]]},{"id":"8b488d79.c2668","type":"rbe","z":"177edab.47a8925","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":510,"y":360,"wires":[["cdb3ed61.85268"]]},{"id":"bd4d828b.9a89e","type":"mysql","z":"177edab.47a8925","mydb":"fca5a5e8.18bbc8","name":"MYSQL DATABASE","x":1470,"y":480,"wires":[[]]},{"id":"6c593cc0.ac9284","type":"function","z":"177edab.47a8925","name":"Prepare Insert Sensor 3026 Basement into MySQL db","func":"var date = new Date();\nmsg.topic=\"INSERT INTO sensor_data (room,temperature,humidity,station_id,insert_date_time) VALUES ('basement',?,?,?,?)\";\nmsg.payload=[msg.payload.temperature,msg.payload.humidity,msg.payload.id,date];\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":280,"wires":[["bd4d828b.9a89e"]]},{"id":"625e3946.1d4ac8","type":"function","z":"177edab.47a8925","name":"Prepare Insert Senor 6126 Bedroom into MYSQL db","func":"var date = new Date();\nmsg.topic=\"INSERT INTO sensor_data (room,temperature,humidity,station_id,insert_date_time) VALUES ('bedroom',?,?,?,?)\";\nmsg.payload=[msg.payload.temperature,msg.payload.humidity,msg.payload.id,date];\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":360,"wires":[["bd4d828b.9a89e"]]},{"id":"35357be6.869984","type":"mqtt in","z":"177edab.47a8925","name":"","topic":"home/acurite","qos":"2","datatype":"auto","broker":"459804d.22579fc","x":70,"y":460,"wires":[["b2e26afd.b73c48"]]},{"id":"b2e26afd.b73c48","type":"switch","z":"177edab.47a8925","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"id\" : 8166","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":440,"wires":[["7daeb373.7e6d6c"]]},{"id":"7daeb373.7e6d6c","type":"json","z":"177edab.47a8925","name":"","property":"payload","action":"","pretty":false,"x":370,"y":440,"wires":[["cb89b871.2721f8"]]},{"id":"90f0e4bf.e7c428","type":"function","z":"177edab.47a8925","name":"read payload Garage","func":"return {\n    payload: {\n        id: msg.payload.id,\n        temperature: msg.payload.temperature_C,\n        humidity: msg.payload.humidity\n    }\n};","outputs":1,"noerr":0,"x":720,"y":460,"wires":[["9c1878e2.f09ac8"]]},{"id":"9c1878e2.f09ac8","type":"function","z":"177edab.47a8925","name":"Prepare Insert Senor 8166 Garage into MYSQL db","func":"var date = new Date();\nmsg.topic=\"INSERT INTO sensor_data (room,temperature,humidity,station_id,insert_date_time) VALUES ('garage',?,?,?,?)\";\nmsg.payload=[msg.payload.temperature,msg.payload.humidity,msg.payload.id,date];\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":460,"wires":[["bd4d828b.9a89e"]]},{"id":"85e4e13d.eaa77","type":"mqtt in","z":"177edab.47a8925","name":"","topic":"home/acurite","qos":"2","datatype":"auto","broker":"459804d.22579fc","x":70,"y":620,"wires":[["f5a14469.d88978"]]},{"id":"f5a14469.d88978","type":"switch","z":"177edab.47a8925","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"id\" : 12154","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":620,"wires":[["5602f44d.38cf0c"]]},{"id":"5602f44d.38cf0c","type":"json","z":"177edab.47a8925","name":"","property":"payload","action":"","pretty":false,"x":370,"y":620,"wires":[["e34030a9.35f9c"]]},{"id":"28dbb43.5a2784c","type":"function","z":"177edab.47a8925","name":"read payload outside","func":"return {\n    payload: {\n        id: msg.payload.id,\n        temperature: msg.payload.temperature_C,\n        humidity: msg.payload.humidity\n    }\n};","outputs":1,"noerr":0,"x":700,"y":620,"wires":[["ae43b3f5.eb69c"]]},{"id":"ae43b3f5.eb69c","type":"function","z":"177edab.47a8925","name":"Prepare Insert Senor 12154 Outside into MYSQL db","func":"var date = new Date();\nmsg.topic=\"INSERT INTO sensor_data (room,temperature,humidity,station_id,insert_date_time) VALUES ('outside',?,?,?,?)\";\nmsg.payload=[msg.payload.temperature,msg.payload.humidity,msg.payload.id,date];\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":620,"wires":[["bd4d828b.9a89e"]]},{"id":"94074f92.8a42a","type":"mqtt in","z":"177edab.47a8925","name":"","topic":"home/acurite","qos":"2","datatype":"auto","broker":"459804d.22579fc","x":70,"y":720,"wires":[["889113bb.0cf7e"]]},{"id":"889113bb.0cf7e","type":"switch","z":"177edab.47a8925","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"id\" : 15043","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":240,"y":720,"wires":[["76c3c0d5.34616"]]},{"id":"76c3c0d5.34616","type":"json","z":"177edab.47a8925","name":"","property":"payload","action":"","pretty":false,"x":380,"y":720,"wires":[["4dc6b2ca.d095dc"]]},{"id":"f2259418.fc4ae8","type":"function","z":"177edab.47a8925","name":"read payload living-room","func":"return {\n    payload: {\n        id: msg.payload.id,\n        temperature: msg.payload.temperature_C,\n        humidity: msg.payload.humidity\n    }\n};","outputs":1,"noerr":0,"x":710,"y":720,"wires":[["97e8ae26.85889"]]},{"id":"97e8ae26.85889","type":"function","z":"177edab.47a8925","name":"Prepare Insert Senor 15043 Living-Room into MYSQL db","func":"var date = new Date();\nmsg.topic=\"INSERT INTO sensor_data (room,temperature,humidity,station_id,insert_date_time) VALUES ('living-room',?,?,?,?)\";\nmsg.payload=[msg.payload.temperature,msg.payload.humidity,msg.payload.id,date];\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":720,"wires":[["bd4d828b.9a89e"]]},{"id":"cb89b871.2721f8","type":"rbe","z":"177edab.47a8925","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":490,"y":440,"wires":[["90f0e4bf.e7c428"]]},{"id":"e34030a9.35f9c","type":"rbe","z":"177edab.47a8925","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":490,"y":620,"wires":[["28dbb43.5a2784c"]]},{"id":"4dc6b2ca.d095dc","type":"rbe","z":"177edab.47a8925","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":510,"y":720,"wires":[["f2259418.fc4ae8"]]},{"id":"fc486cc2.fff3a","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"sensors","name":"sensors","usetls":false,"tls":""},{"id":"459804d.22579fc","type":"mqtt-broker","z":"","name":"test","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b5d2e00a.09a22","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"bedroom","name":"bedroom","usetls":false,"tls":""},{"id":"fca5a5e8.18bbc8","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"weatherStation","tz":""}]