src/flows.json
[{"id":"45795d86.4990a4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"541f538.dc84fac","type":"function","z":"45795d86.4990a4","name":"read payload Basement Sensor","func":"return {\n    payload: {\n        id: msg.payload.id,\n        temperature: msg.payload.temperature_C,\n        battery_status: msg.payload.battery_ok,\n        humidity: msg.payload.humidity,\n        room: 'basement',\n        station_id: 3026\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":280,"wires":[["59a4213.8dbf1e"]]},{"id":"a38d375b.a639c8","type":"switch","z":"45795d86.4990a4","name":"Switch-Basement","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"3026","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":280,"wires":[["5d4c6092.610c3"]]},{"id":"7ec13fb0.9c9be","type":"json","z":"45795d86.4990a4","name":"json-3026","property":"payload","action":"","pretty":false,"x":540,"y":180,"wires":[["a38d375b.a639c8","215604cc.5c6ea4"]]},{"id":"3c5a053e.678dea","type":"switch","z":"45795d86.4990a4","name":"Switch-Bedroom","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"6126","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":360,"wires":[["5b36bc47.ebf79c"]]},{"id":"e0ad6e01.9a59","type":"json","z":"45795d86.4990a4","name":"json-6126","property":"payload","action":"","pretty":false,"x":520,"y":360,"wires":[["3c5a053e.678dea"]]},{"id":"f0c47a8.e779688","type":"function","z":"45795d86.4990a4","name":"read payload Bedroom Sensor","func":"return {\n    payload: {\n        id: msg.payload.id,\n        temperature: msg.payload.temperature_C,\n        battery_status: msg.payload.battery_ok,\n        humidity: msg.payload.humidity,\n        room: 'bedroom',\n        station_id: 6126\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":360,"wires":[["a00183db.7dd3"]]},{"id":"5d4c6092.610c3","type":"rbe","z":"45795d86.4990a4","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload.temperature_C","x":930,"y":240,"wires":[["d9b9aba0.d1692","541f538.dc84fac"]]},{"id":"ab426636.fe8008","type":"switch","z":"45795d86.4990a4","name":"Switch Garage","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"8166","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":440,"wires":[["908c0f39.221a08"]]},{"id":"33d73cad.60cc34","type":"json","z":"45795d86.4990a4","name":"json-8166","property":"payload","action":"","pretty":false,"x":520,"y":340,"wires":[["ab426636.fe8008"]]},{"id":"f54ef6db.c27108","type":"function","z":"45795d86.4990a4","name":"read payload Garage","func":"return {\n    payload: {\n        id: msg.payload.id,\n        temperature: msg.payload.temperature_C,\n        battery_status: msg.payload.battery_ok,\n        humidity: msg.payload.humidity,\n        room: 'garage',\n        station_id: 8166\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":440,"wires":[["a2ce588e.755598"]]},{"id":"f2201546.ed5ad8","type":"switch","z":"45795d86.4990a4","name":"Switch-Outside","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"12154","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":540,"wires":[["f39d1e80.56ab28"]]},{"id":"3efb1d7c.a3a272","type":"json","z":"45795d86.4990a4","name":"json-12154","property":"payload","action":"","pretty":false,"x":530,"y":540,"wires":[["f2201546.ed5ad8"]]},{"id":"86c698a.65a3368","type":"function","z":"45795d86.4990a4","name":"read payload outside","func":"return {\n    payload: {\n        id: msg.payload.id,\n        temperature: msg.payload.temperature_C,\n        battery_status: msg.payload.battery_ok,\n        humidity: msg.payload.humidity,\n        room: 'outside',\n        station_id: 12154\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":540,"wires":[["106090e7.635c4f"]]},{"id":"8af9d46.2ce4f28","type":"switch","z":"45795d86.4990a4","name":"Switch Living-Room","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"15043","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":660,"wires":[["7c80247e.425dec"]]},{"id":"e39551b8.0a19b","type":"json","z":"45795d86.4990a4","name":"json-15043","property":"payload","action":"","pretty":false,"x":530,"y":640,"wires":[["8af9d46.2ce4f28"]]},{"id":"52ec9b74.5957a4","type":"function","z":"45795d86.4990a4","name":"read payload living-room","func":"return {\n    payload: {\n        temperature: msg.payload.temperature_C,\n        battery_status: msg.payload.battery_ok,\n        humidity: msg.payload.humidity,\n        room: 'living_room',\n        station_id: 15043\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":660,"wires":[["a6659a2a.102a28"]]},{"id":"59a4213.8dbf1e","type":"http request","z":"45795d86.4990a4","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.4.10:8200/weatherstation/api","tls":"","persist":false,"proxy":"","authType":"","x":1450,"y":280,"wires":[[]]},{"id":"a00183db.7dd3","type":"http request","z":"45795d86.4990a4","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.4.10:8200/weatherstation/api","tls":"","persist":false,"proxy":"","authType":"","x":1430,"y":360,"wires":[[]]},{"id":"a2ce588e.755598","type":"http request","z":"45795d86.4990a4","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.4.10:8200/weatherstation/api","tls":"","persist":false,"proxy":"","authType":"","x":1430,"y":440,"wires":[[]]},{"id":"106090e7.635c4f","type":"http request","z":"45795d86.4990a4","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.4.10:8200/weatherstation/api","tls":"","persist":false,"proxy":"","authType":"","x":1430,"y":540,"wires":[[]]},{"id":"a6659a2a.102a28","type":"http request","z":"45795d86.4990a4","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.4.10:8200/weatherstation/api","tls":"","persist":false,"proxy":"","authType":"","x":1430,"y":660,"wires":[[]]},{"id":"5b36bc47.ebf79c","type":"rbe","z":"45795d86.4990a4","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload.temperature_C","x":930,"y":340,"wires":[["f0c47a8.e779688"]]},{"id":"f39d1e80.56ab28","type":"rbe","z":"45795d86.4990a4","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload.temperature_C","x":910,"y":580,"wires":[["86c698a.65a3368"]]},{"id":"908c0f39.221a08","type":"rbe","z":"45795d86.4990a4","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload.temperature_C","x":930,"y":480,"wires":[["f54ef6db.c27108"]]},{"id":"7c80247e.425dec","type":"rbe","z":"45795d86.4990a4","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload.temperature_C","x":950,"y":640,"wires":[["52ec9b74.5957a4"]]},{"id":"56554369.2f07bc","type":"json","z":"45795d86.4990a4","name":"json-moisture pantsy","property":"payload","action":"","pretty":false,"x":540,"y":740,"wires":[["fa431332.65e59"]]},{"id":"d927d3ee.9b3b1","type":"function","z":"45795d86.4990a4","name":"read payload moisture-plant-front","func":"return {\n    payload: {\n        name: 'pantsy plant',\n        batteryStatus: msg.payload.battery_mV,\n        sensorReading: msg.payload.sensor_value/10,\n        sensorID: msg.payload.module_id,\n        sensorLocation: 'outside'\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":740,"wires":[["25b4dd5d.c52c42"]]},{"id":"25b4dd5d.c52c42","type":"http request","z":"45795d86.4990a4","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.4.10:8200/sensorgateway/api/moisture","tls":"","persist":false,"proxy":"","authType":"","x":1430,"y":740,"wires":[[]]},{"id":"fa431332.65e59","type":"switch","z":"45795d86.4990a4","name":"Switch Moisture pantsy","property":"payload.module_id","propertyType":"msg","rules":[{"t":"eq","v":"11790","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":740,"wires":[["1c1c7906.bdc017"]]},{"id":"87aa6ebf.e2823","type":"json","z":"45795d86.4990a4","name":"json-moisture frontyard","property":"payload","action":"","pretty":false,"x":530,"y":820,"wires":[["3f1038ec.07e008"]]},{"id":"3f1038ec.07e008","type":"switch","z":"45795d86.4990a4","name":"Switch moisture frontyard","property":"payload.module_id","propertyType":"msg","rules":[{"t":"eq","v":"24269","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":860,"wires":[["2cc78d4f.b147b2"]]},{"id":"e273a2a.2c78f6","type":"function","z":"45795d86.4990a4","name":"read payload moisture-lawn-front","func":"return {\n    payload: {\n        name: 'fronyard',\n        batteryStatus: msg.payload.battery_mV,\n        sensorReading: msg.payload.sensor_value/10,\n        sensorID: msg.payload.module_id,\n        sensorLocation: 'frontyard'\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":860,"wires":[["ac1783f.243da8"]]},{"id":"ac1783f.243da8","type":"http request","z":"45795d86.4990a4","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.4.10:8200/sensorgateway/api/moisture","tls":"","persist":false,"proxy":"","authType":"","x":1430,"y":860,"wires":[[]]},{"id":"da522a92.bec6d8","type":"json","z":"45795d86.4990a4","name":"json-moisture plant backyard","property":"payload","action":"","pretty":false,"x":510,"y":920,"wires":[["88688e2a.f5a37"]]},{"id":"88688e2a.f5a37","type":"switch","z":"45795d86.4990a4","name":"Switch moisture backyard","property":"payload.module_id","propertyType":"msg","rules":[{"t":"eq","v":"20459","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":960,"wires":[["1ef396f2.2cdaa9"]]},{"id":"bcdac0e7.b2aff","type":"function","z":"45795d86.4990a4","name":"read payload moisture-lawn-back","func":"return {\n    payload: {\n        name: 'backyard',\n        batteryStatus: msg.payload.battery_mV,\n        sensorReading: msg.payload.sensor_value/10,\n        sensorID: msg.payload.module_id,\n        sensorLocation: 'backyard'\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":960,"wires":[["3d640a56.8adcb6"]]},{"id":"3d640a56.8adcb6","type":"http request","z":"45795d86.4990a4","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.4.10:8200/sensorgateway/api/moisture","tls":"","persist":false,"proxy":"","authType":"","x":1430,"y":960,"wires":[[]]},{"id":"fd3c2626.7e3e48","type":"mqtt in","z":"45795d86.4990a4","name":"","topic":"home/sensors","qos":"2","datatype":"auto","broker":"812f588f.289738","x":110,"y":620,"wires":[["7ec13fb0.9c9be","e0ad6e01.9a59","33d73cad.60cc34","3efb1d7c.a3a272","e39551b8.0a19b","56554369.2f07bc","87aa6ebf.e2823","da522a92.bec6d8","c6018669.097138"]]},{"id":"1c1c7906.bdc017","type":"rbe","z":"45795d86.4990a4","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":740,"wires":[["d927d3ee.9b3b1"]]},{"id":"2cc78d4f.b147b2","type":"rbe","z":"45795d86.4990a4","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":860,"wires":[["e273a2a.2c78f6"]]},{"id":"1ef396f2.2cdaa9","type":"rbe","z":"45795d86.4990a4","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":960,"y":960,"wires":[["bcdac0e7.b2aff"]]},{"id":"d9b9aba0.d1692","type":"debug","z":"45795d86.4990a4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1400,"y":100,"wires":[]},{"id":"c6018669.097138","type":"debug","z":"45795d86.4990a4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":200,"y":440,"wires":[]},{"id":"215604cc.5c6ea4","type":"debug","z":"45795d86.4990a4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":200,"wires":[]},{"id":"812f588f.289738","type":"mqtt-broker","z":"","name":"test","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]