src/flows.json
[{"id":"45795d86.4990a4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b6826fa.9f2919","type":"mqtt in","z":"45795d86.4990a4","name":"","topic":"home/acurite","qos":"2","datatype":"auto","broker":"812f588f.289738","x":70,"y":280,"wires":[["a38d375b.a639c8"]]},{"id":"541f538.dc84fac","type":"function","z":"45795d86.4990a4","name":"read payload Basement Sensor","func":"return {\n    payload: {\n        id: msg.payload.id,\n        temperature: msg.payload.temperature_C,\n        humidity: msg.payload.humidity,\n        room: 'basement',\n        station_id: 3026\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":280,"wires":[["59a4213.8dbf1e"]]},{"id":"a38d375b.a639c8","type":"switch","z":"45795d86.4990a4","name":"Switch-Basement","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"id\" : 3026","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":280,"wires":[["7ec13fb0.9c9be"]]},{"id":"7ec13fb0.9c9be","type":"json","z":"45795d86.4990a4","name":"json-3026","property":"payload","action":"","pretty":false,"x":520,"y":280,"wires":[["f611cc35.48de1"]]},{"id":"dc4a9802.31b208","type":"mqtt in","z":"45795d86.4990a4","name":"","topic":"home/acurite","qos":"2","datatype":"auto","broker":"812f588f.289738","x":70,"y":360,"wires":[["3c5a053e.678dea"]]},{"id":"3c5a053e.678dea","type":"switch","z":"45795d86.4990a4","name":"Switch-Bedroom","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"id\" : 6126","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":360,"wires":[["e0ad6e01.9a59"]]},{"id":"e0ad6e01.9a59","type":"json","z":"45795d86.4990a4","name":"json-6126","property":"payload","action":"","pretty":false,"x":520,"y":360,"wires":[["5d4c6092.610c3"]]},{"id":"f0c47a8.e779688","type":"function","z":"45795d86.4990a4","name":"read payload Bedroom Sensor","func":"return {\n    payload: {\n        id: msg.payload.id,\n        temperature: msg.payload.temperature_C,\n        humidity: msg.payload.humidity,\n        room: 'bedroom',\n        station_id: 6126\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":360,"wires":[["a00183db.7dd3"]]},{"id":"f611cc35.48de1","type":"rbe","z":"45795d86.4990a4","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":690,"y":280,"wires":[["541f538.dc84fac"]]},{"id":"5d4c6092.610c3","type":"rbe","z":"45795d86.4990a4","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":670,"y":360,"wires":[["f0c47a8.e779688"]]},{"id":"57de69f9.af4358","type":"mysql","z":"45795d86.4990a4","mydb":"e2642a4c.823668","name":"weatherStationDB","x":1890,"y":420,"wires":[[]]},{"id":"505fb0b6.4b195","type":"function","z":"45795d86.4990a4","name":"Prepare Insert Sensor 3026 Basement into MySQL db","func":"var date = new Date();\nmsg.topic=\"INSERT INTO sensor_data (room,temperature,humidity,station_id,insert_date_time) VALUES ('basement',?,?,?,?)\";\nmsg.payload=[msg.payload.temperature,msg.payload.humidity,msg.payload.id,date];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1460,"y":280,"wires":[["57de69f9.af4358"]]},{"id":"7ec9e6f3.11aee8","type":"function","z":"45795d86.4990a4","name":"Prepare Insert Senor 6126 Bedroom into MYSQL db","func":"var date = new Date();\nmsg.topic=\"INSERT INTO sensor_data (room,temperature,humidity,station_id,insert_date_time) VALUES ('bedroom',?,?,?,?)\";\nmsg.payload=[msg.payload.temperature,msg.payload.humidity,msg.payload.id,date];\nreturn msg;","outputs":1,"noerr":0,"x":1480,"y":360,"wires":[["57de69f9.af4358"]]},{"id":"cedf39c0.c41268","type":"mqtt in","z":"45795d86.4990a4","name":"","topic":"home/acurite","qos":"2","datatype":"auto","broker":"812f588f.289738","x":70,"y":460,"wires":[["ab426636.fe8008"]]},{"id":"ab426636.fe8008","type":"switch","z":"45795d86.4990a4","name":"Switch Garage","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"id\" : 8166","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":460,"wires":[["33d73cad.60cc34"]]},{"id":"33d73cad.60cc34","type":"json","z":"45795d86.4990a4","name":"json-8166","property":"payload","action":"","pretty":false,"x":520,"y":460,"wires":[["15d8c044.5684a"]]},{"id":"f54ef6db.c27108","type":"function","z":"45795d86.4990a4","name":"read payload Garage","func":"return {\n    payload: {\n        id: msg.payload.id,\n        temperature: msg.payload.temperature_C,\n        humidity: msg.payload.humidity,\n        room: 'garage',\n        station_id: 8166\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":460,"wires":[["a2ce588e.755598"]]},{"id":"206587ce.d7f808","type":"function","z":"45795d86.4990a4","name":"Prepare Insert Senor 8166 Garage into MYSQL db","func":"var date = new Date();\nmsg.topic=\"INSERT INTO sensor_data (room,temperature,humidity,station_id,insert_date_time) VALUES ('garage',?,?,?,?)\";\nmsg.payload=[msg.payload.temperature,msg.payload.humidity,msg.payload.id,date];\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":420,"wires":[["57de69f9.af4358"]]},{"id":"712a0748.910f78","type":"mqtt in","z":"45795d86.4990a4","name":"","topic":"home/acurite","qos":"2","datatype":"auto","broker":"812f588f.289738","x":70,"y":580,"wires":[["f2201546.ed5ad8"]]},{"id":"f2201546.ed5ad8","type":"switch","z":"45795d86.4990a4","name":"Switch-Outside","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"id\" : 12154","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":580,"wires":[["3efb1d7c.a3a272"]]},{"id":"3efb1d7c.a3a272","type":"json","z":"45795d86.4990a4","name":"json-12154","property":"payload","action":"","pretty":false,"x":530,"y":580,"wires":[["ffd4c3b5.9ac46"]]},{"id":"86c698a.65a3368","type":"function","z":"45795d86.4990a4","name":"read payload outside","func":"return {\n    payload: {\n        id: msg.payload.id,\n        temperature: msg.payload.temperature_C,\n        humidity: msg.payload.humidity,\n        room: 'outside',\n        station_id: 12154\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":580,"wires":[["106090e7.635c4f"]]},{"id":"9af90559.41dcb8","type":"function","z":"45795d86.4990a4","name":"Prepare Insert Senor 12154 Outside into MYSQL db","func":"var date = new Date();\nmsg.topic=\"INSERT INTO sensor_data (room,temperature,humidity,station_id,insert_date_time) VALUES ('outside',?,?,?,?)\";\nmsg.payload=[msg.payload.temperature,msg.payload.humidity,msg.payload.id,date];\nreturn msg;","outputs":1,"noerr":0,"x":1460,"y":540,"wires":[["57de69f9.af4358"]]},{"id":"30cc0745.8179e8","type":"mqtt in","z":"45795d86.4990a4","name":"","topic":"home/acurite","qos":"2","datatype":"auto","broker":"812f588f.289738","x":70,"y":680,"wires":[["8af9d46.2ce4f28"]]},{"id":"8af9d46.2ce4f28","type":"switch","z":"45795d86.4990a4","name":"Switch Living-Room","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"id\" : 15043","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":680,"wires":[["e39551b8.0a19b"]]},{"id":"e39551b8.0a19b","type":"json","z":"45795d86.4990a4","name":"json-15043","property":"payload","action":"","pretty":false,"x":530,"y":680,"wires":[["74f5f041.4db4a"]]},{"id":"52ec9b74.5957a4","type":"function","z":"45795d86.4990a4","name":"read payload living-room","func":"return {\n    payload: {\n        id: msg.payload.id,\n        temperature: msg.payload.temperature_C,\n        humidity: msg.payload.humidity,\n        room: 'living_room',\n        station_id: 15043\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":680,"wires":[["a6659a2a.102a28"]]},{"id":"66826fb0.91791","type":"function","z":"45795d86.4990a4","name":"Prepare Insert Senor 15043 Living-Room into MYSQL db","func":"var date = new Date();\nmsg.topic=\"INSERT INTO sensor_data (room,temperature,humidity,station_id,insert_date_time) VALUES ('living-room',?,?,?,?)\";\nmsg.payload=[msg.payload.temperature,msg.payload.humidity,msg.payload.id,date];\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":680,"wires":[["57de69f9.af4358"]]},{"id":"15d8c044.5684a","type":"rbe","z":"45795d86.4990a4","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":670,"y":460,"wires":[["f54ef6db.c27108"]]},{"id":"59a4213.8dbf1e","type":"http request","z":"45795d86.4990a4","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.4.10:8200/weatherstationapi/","tls":"","persist":false,"proxy":"","authType":"","x":1150,"y":280,"wires":[[]]},{"id":"a00183db.7dd3","type":"http request","z":"45795d86.4990a4","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.4.10:8200/weatherstationapi/","tls":"","persist":false,"proxy":"","authType":"","x":1150,"y":360,"wires":[[]]},{"id":"a2ce588e.755598","type":"http request","z":"45795d86.4990a4","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.4.10:8200/weatherstationapi/","tls":"","persist":false,"proxy":"","authType":"","x":1130,"y":460,"wires":[[]]},{"id":"106090e7.635c4f","type":"http request","z":"45795d86.4990a4","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.4.10:8200/weatherstationapi/","tls":"","persist":false,"proxy":"","authType":"","x":1110,"y":580,"wires":[[]]},{"id":"a6659a2a.102a28","type":"http request","z":"45795d86.4990a4","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.4.10:8200/weatherstationapi/","tls":"","persist":false,"proxy":"","authType":"","x":1110,"y":680,"wires":[[]]},{"id":"ffd4c3b5.9ac46","type":"rbe","z":"45795d86.4990a4","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":690,"y":580,"wires":[["86c698a.65a3368"]]},{"id":"74f5f041.4db4a","type":"rbe","z":"45795d86.4990a4","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":690,"y":680,"wires":[["52ec9b74.5957a4"]]},{"id":"812f588f.289738","type":"mqtt-broker","z":"","name":"test","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e2642a4c.823668","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"weatherStation","tz":""}]